body{
    margin: 0;
    padding: 0;
    background-color: #002331;
    font-family: 'Electrolize', sans-serif;
}

p{
    font-size: 2em;
    background-color: #001822;
    color: white;
    text-align: center;
}

ul{
    padding-top: 16px;
    display: table; 
	margin: 0 auto;
}

img{
    width: 40px;
    height: 40px;
}

li{
    align-items: center;
    margin: 8px;
    display: inline;
}